{{- if eq .chezmoi.os "windows" }}

if ([bool](Get-Command -Name "scoop" -ErrorAction SilentlyContinue)){
    $ScoopList = $(scoop list) | Out-Null
} else {
    $ScoopList = ""
}

if ($ScoopList -Match "vscodium"){
    Remove-Item `
        -Path "$(scoop prefix vscodium)\data\user-data\User" `
        -Recurse `
        -Force
    New-Item `
        -ItemType Junction `
        -Path "$(scoop prefix vscodium)\data\user-data\User" `
        -Target "$ENV:APPDATA\VSCodium\User"`
        -Force
}

{{- end}}
