{{- if ne .chezmoi.os "windows" -}}
#!/bin/sh
if command -v wget >/dev/null; then
  sh -c "$(wget -O - https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs)"
elif command -v curl >/dev/null; then
  sh -c "$(curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs)"
else
  printf "\nCould not fetch nnn plugins, no wget or curl available!\n\n"
fi
{{- end}}
