."..\..\Documents\PowerShell\Functions.ps1"
."..\..\Documents\PowerShell\Variables.ps1"

# Install Scoop packages
# NOTE: Scoop is the primary package manager for my environment

Invoke-RestMethod get.scoop.sh | Invoke-Expression

if (-Not (Test-Command -Name git)){
    scoop install main/git  # Git is required to install other buckets
}

{{range .scoop.buckets -}}
scoop bucket add {{.}}
{{- end}}

scoop install `
    {{range .scoop.packages}}{{.}} `
    {{end}}

if (-Not (Test-Command -Name winget)){
    scoop install main/winget
}

# Install Winget packages

winget install `
    {{range .winget.packages}}{{.}} `
    {{end -}}
    --accept-source-agreements `
    --accept-package-agreements `
    --silent `
    --disable-interactivity

# Set up configuration

Set-EnvironmentVariablesSetup -Scope "User"  # Installign environment variables
Add-ContextMenuDir `
    -DisplayName "WezTerm" `
    -ApplicationPath "$(scoop prefix wezterm)\wezterm-gui.exe" `
    -ApplicationArgs 'start --no-auto-connect --cwd "%V"'
reg import "$(scoop prefix pwsh)\install-explorer-context.reg"
reg import "$(scoop prefix pwsh)\install-explorer-context.reg"  # needs double run to work
reg import "$(scoop prefix pwsh)\install-file-context.reg"

nvm install lts
nvm on
Invoke-Expression "$(scoop prefix nvm)\nodejs\nodejs\npm install -g neovim"

conda init powershell
conda install -y -c conda-forge pynvim

git config --global credential.helper manager
