-- Autocmds are automatically loaded on the VeryLazy event
-- Default autocmds that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/autocmds.lua
-- Add any additional autocmds here

if vim.g.vscode then
-- vscode-nvim settings
else
	-- Chezmoi
	vim.api.nvim_create_autocmd({ "BufRead", "BufNewFile" }, {
		pattern = { "{{.chezmoi.workingTree}}/**" },
		callback = function()
			vim.schedule(require("chezmoi.commands.__edit").watch)
		end,
	})

	-- OpenCL file setings
	vim.api.nvim_create_autocmd({ "BufNewFile", "BufRead" }, {
		pattern = "*.cl",
		callback = function()
			vim.opt_local.filetype = "opencl"

			vim.opt_local.tabstop = 8
			vim.opt_local.expandtab = false
			vim.opt_local.softtabstop = 8
			vim.opt_local.shiftwidth = 8

			vim.opt_local.commentstring = "/*%s*/"
			vim.opt_local.comments =
				"sO:* -,mO:*  ,exO:*/,s1:/*,mb:*,ex:*/,:///,://"
		end,
		desc = "Set indentation for OpenCL files",
	})
end
